.git
.github
.idea
.vscode
.env
.env.*
node_modules
public/build
public/hot
public/storage
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
docker-compose.yml
npm-debug.log
yarn-error.log
